<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserForm</title>
</head>
<body>
    <h1>USER FORM</h1>

    <form action="/user/id" method="POST">
        <input type="text" name="name" id="name" placeholder="Name">
        <input type="text" name="email" id="email" placeholder="Email">
        <input type="number" name="number" id="number" placeholder="Number">
        <input type="number" name="age" id="age" placeholder="age">
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>