<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM</title>
</head>
<body>
    <h1>FORM</h1>
    <form action="/user" method="POST">
        <input type="text" name="name" id="name" placeholder="NAME">
        <input type="text" name="email" id="email" placeholder="EMAIL">
        <input type="number" name="age" id="age" placeholder="AGE">
        <input type="text" name="address" id="address" placeholder="ADDRESS">
        <input type="text" name="bio" id="bio" placeholder="BIO">
        <input type="text" name="hobbies" id="hobbies" placeholder="HOBBIES">
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>